.listItem {
  font-size: 150%;
  padding: 8px;
  margin: 8px;
  /*background: rgba(255, 255, 25, 50%);*/
  box-shadow: 0 0 1px 1px lightgray;
  border-radius: 5px;
  position: relative;
}

.functionInput {
  width: 100%;
}

.titleBar {
  margin-top: 0;
  display: flex;
}

.titleBar p {
  flex-grow: 1;
  margin-top: 0;
}

.delete {
  flex-basis: 32px;
  color: inherit;
  height: 32px;
}

.listItem:not(:last-child) {
  /*margin-bottom: 2%;*/
}

@media screen and (min-width: 600px) {
  .listItem {
    font-size: 100%;
  }

  .delete {
    flex-basis: 24px;
    height: 24px;
  }

  .colorSelect {
    width: 24px;
    height: 24px;
  }
}
