

.listItem {
    padding: 8px;
    margin: 8px;
    background: rgba(255, 255, 25, 50%);
    box-shadow: 0 0 1px 1px lightgray;
    border-radius: 5px;
    position: relative;
}

.functionInput {
width: 100%;
}

.titleBar {
    margin-top: 0;
    display: flex;
}

.titleBar p {
    flex-grow: 1;
    margin-top: 0;
}

.delete {
    display: inline-block;
    height: 100%;
    padding: 0 1%;
    line-height: 1;
    background: none;
}

.listItem:not(:last-child) {
    /*margin-bottom: 2%;*/
}