.listItem {
  font-size: 150%;
  padding: 8px;
  margin: 8px;
  /*background: rgba(255, 255, 25, 50%);*/
  box-shadow: 0 0 1px 1px lightgray;
  border-radius: 5px;
  position: relative;
}

.inputWrapper {
  display: flex;
  align-items: baseline;
  /*width: 100%;*/
  /*height: 1em;*/
}

.inputWrapper p {
  margin: 0 1ch 0 0;
}

.functionInput {
  flex-grow: 1;
  display: inline;
  box-sizing: initial;
}

.titleBar {
  margin-top: 0;
  display: flex;
  margin-bottom: 8px;
}

.titleBar p {
  flex-grow: 1;
  margin-top: 0;
}

.colorSelect {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0 8px 0 0;
  border: none;
  box-shadow: 0 0 1px 1px lightgray;
}

.delete {
  flex-basis: 32px;
  color: inherit;
  height: 32px;
}

.listItem:not(:last-child) {
  /*margin-bottom: 2%;*/
}

.scale {
  display: flex;
  align-items: center;
}

.gradient {
  border-radius: 2px;
  border: 1px solid gray;
  height: 20px;
  background: linear-gradient(to right, red, yellow);
  margin: 8px;
  flex-grow: 1;
}

@media screen and (min-width: 600px) {
  .listItem {
    font-size: 100%;
  }

  .delete {
    flex-basis: 24px;
    height: 24px;
  }

  .colorSelect {
    width: 24px;
    height: 24px;
  }
}
